h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;            
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 20px;
}

nav{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 10px;
}

footer{
    text-align: center;
}

body{
    background: linear-gradient(to right, rgb(181, 6, 250), blue 140%);
}